In [2]:
from scipy import spatial
U1 = [4, 3, 0, 3]
U2 = [2, 2, 4, 2]
U3 = [3, 4, 5, 4]
U4 = [5, 2, 4, 4]
CosU1U2 = 1 - spatial.distance.cosine(U1, U2)
CosU1U3 = 1 - spatial.distance.cosine(U1, U3)
CosU1U4 = 1 - spatial.distance.cosine(U1, U4)
print('Cosine similarity between User1 and User2 is ', CosU1U2)
print('Cosine similarity between User1 and User3 is ', CosU1U3)
print('Cosine similarity between User1 and User4 is ', CosU1U4)

Cosine similarity between User1 and User2 is  0.6482037235521644
Cosine similarity between User1 and User3 is  0.7599605956573484
Cosine similarity between User1 and User4 is  0.8344094626730117

In [30]:
import pandas as pd
import numpy as np
ITEM_COUNT = 10
ITEM_COLUMNS = []
for i in range(ITEM_COUNT):
    ITEM_COLUMNS.append('item' + str(i + 1))
    pass
user_ratings_df = pd.DataFrame(columns = ['user'] + ITEM_COLUMNS)
user1 = pd.Series(['u1', 99, 10, 80, 50, 40, 34, 99, 23, 10, 17], index = ['user'] + ITEM_COLUMNS)
user2 = pd.Series(['u2', 12, 80, 13, 87, 10, 93, 10, 80, 87, 90], index = ['user'] + ITEM_COLUMNS)
user3 = pd.Series(['u3', 50, 55, 65, 75, 45, 48, 56, 52, 59, 62], index = ['user'] + ITEM_COLUMNS)
user4 = pd.Series(['u4', 95, 12, 85, 49, 39, 32, 88, 12, 9, 21], index = ['user'] + ITEM_COLUMNS)
user5 = pd.Series(['u5', 49, 65, 54, 49, 34, 65, 67, 48, 52, 59], index = ['user'] + ITEM_COLUMNS)
user6 = pd.Series(['u6', 15, 90, 15, 95, 17, 94, 12, 85, 90, 93], index = ['user'] + ITEM_COLUMNS)
user7 = pd.Series(['u7', 11, 89, 17, 93, 19, 92, 16, 94, 98, 92], index = ['user'] + ITEM_COLUMNS)
user8 = pd.Series(['u8', 94, 11, 89, 48, 42, 30, 92, 16, 12, 25], index = ['user'] + ITEM_COLUMNS)
user9 = pd.Series(['u9', 19, 88, 21, 98, 9, 90, 11, 97, 89, 86], index = ['user'] + ITEM_COLUMNS)
user10 = pd.Series(['u10', 66, 43, 45, 34, 21, 45, 75, 32, 12, 55], index = ['user'] + ITEM_COLUMNS)
kate = pd.Series(['Kate', np.NaN, 8, np.NaN, np.NaN, 90, np.NaN, np.NaN, np.NaN, 8, np.NaN], index = ['user'] + ITEM_COLUMNS)



pd.concat([user_ratings_df, user1.to_frame().T, user2.to_frame().T, user3.to_frame().T, \
            user4.to_frame().T, user5.to_frame().T, user6.to_frame().T, user7.to_frame().T, \
            user8.to_frame().T, user9.to_frame().T, user10.to_frame().T,
            kate.to_frame().T], ignore_index = True, axis = 0)

    user item1 item2 item3 item4 item5 item6 item7 item8 item9 item10
0     u1    99    10    80    50    40    34    99    23    10     17
1     u2    12    80    13    87    10    93    10    80    87     90
2     u3    50    55    65    75    45    48    56    52    59     62
3     u4    95    12    85    49    39    32    88    12     9     21
4     u5    49    65    54    49    34    65    67    48    52     59
5     u6    15    90    15    95    17    94    12    85    90     93
6     u7    11    89    17    93    19    92    16    94    98     92
7     u8    94    11    89    48    42    30    92    16    12     25
8     u9    19    88    21    98     9    90    11    97    89     86
9    u10    66    43    45    34    21    45    75    32    12     55
10  Kate   NaN     8   NaN   NaN    90   NaN   NaN   NaN     8    NaN

In [ ]:
### Calculate Cosine similarities Kate vs other users TO DO at home ;)